.container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    background-color: azure;
}

.title {
    font-size: 70px;
    line-height: 150px;
    font-weight: 800;
}

.but {
    width: 90%;
    margin-top: 10%;
    text-align: center;
    height: 100px;
}

.but1 {
    width: 70%;
    height: 80px;
    font-size: 40px;
}

.but2 {
    width: 30%;
    height: 80px;
    font-size: 40px;
    margin-left: 10%;
}


.title-list {
    font-size: 60px;
    line-height: 100px;
    font-weight: 500;
}
