.container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: azure;
}

.title {
    font-size: 70px;
    line-height: 150px;
    font-weight: 800;
}

.but {
    width: 90%;
    margin-top: 10%;
    text-align: center;
    height: 100px;
}

.but-cancel {
    width: 70%;
    height: 80px;
    font-size: 40px;
    border: 1px solid #e7e7e7;
    border-radius: 50px;
}

.but-confirm {
    width: 30%;
    height: 80px;
    font-size: 40px;
    margin-left: 10%;
    border: 1px solid #e7e7e7;
    border-radius: 50px;
}


.title-list {
    font-size: 60px;
    line-height: 100px;
    font-weight: 500;
}
