.container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: azure;
}

.title {
    font-size: 80px;
    line-height: 120px;
    font-weight: 800;
}

.title-list {
    font-size: 60px;
    line-height: 100px;
    font-weight: 600;
}

.title-pin {
    font-size: 60px;
    line-height: 100px;
    font-weight: 800;
}

.but-confirm {
    width: 30%;
    font-size: 40px;
    height: 80px;
    border: 1px solid #e7e7e7;
    border-radius: 50px;
}